<template>
    <section ref="contact-section">
        <h6 class="font-medium text-purple text-xl">Contact Me</h6>
        <form class="space-y-2 mt-2" @submit.prevent="handleSubmit">
            <div 
            class="flex flex-col"
            v-for="({name,type,placeholder,lowerCaseName},i) in getFields"
            :key="i">
                <label :for="lowerCaseName">{{ name }}</label>
                <input 
                ref="formRef"
                :placeholder="placeholder"
                class="bg-trans border border-black p-1 rounded-sm transition-all outline-none focus:border-purple focus:bg-white focus:text-purple focus:font-medium"
                v-if="type !== 'text-area'"
                v-model="formValue[lowerCaseName]"
                :type="type" :id="lowerCaseName">
                <textarea 
                ref="formRef"
                v-else
                :placeholder="placeholder"
                v-model="formValue[lowerCaseName]"
                class="bg-trans border border-black p-1 transition-all rounded-sm outline-none focus:border-purple focus:bg-white focus:text-purple focus:font-medium"
                :id="lowerCaseName"></textarea>
            </div>
            <button 
            type="submit"
            class="bg-purple w-full py-2 px-3 rounded-sm text-white font-medium">Submit</button>
        </form>
    </section>
</template>

<script>

const field = [
    {
        name : 'Name',
        type : 'text',
        placeholder : 'Hasan Nasrullah',
    },
    {
        name : 'Email',
        type : 'email',
        placeholder : 'hasan@me.com'
    },
    {
        name : 'Note',
        type : 'text-area',
        placeholder : 'Wakakakak'
    }
]

export default {
    name : 'contact-section',
    data(){
        return {
            formValue : {
                name : '',
                email : '',
                note : ''
            }
        }
    },
    computed : {
        getFields(){
            return this.field.map(({name,...data})=>{
                return {
                    name,
                    lowerCaseName : this.getLowerCase(name),
                    ...data
                }
            })
        }
    },
    methods : {
        /**
         * @param {String} str - String that will convert into lowercase
         */
        getLowerCase(str){
            return str.toLowerCase()
        },

        handleSubmit(){
            const {formValue : {
                email,name,note
            }} = this;

            //Showing alert
            alert(`
            Thankyou ${name}
            we'll send you an email to ${email}
            regarding "${note}"    
            `)

            // Reset formvalue
            this.formValue = {
                name : "",
                email : "",
                note : ""
            }
        },
        focusFieldsCheck(){
            if(window.scrollY + window.innerHeight - 100 > this.$refs.formRef[0].offsetTop){
                this.$refs.formRef[0].focus()
            }
        }
    },
    mounted(){
        this.focusFieldsCheck()
        window.onscroll = () => {
            this.focusFieldsCheck()
        }
    },
    setup(){
        return {field}
    }
}
</script>