<template>
    <section>
        <h6 class="font-medium text-purple text-xl">Experiences</h6>
        <ul 
        class="mt-2"
        @mouseenter="onMouseChange"
        @mouseleave="onMouseChange">
            <li 
            v-for="({detail,name},i) in experiences"
            :key="i">
                <div>
                    <button 
                    @click="changeActive(i)"
                    @blur="blurActive"
                    class="font-medium text-start hover:pl-2 hover:text-purple transition-all">{{ name }}</button>
                    <p 
                    v-if="active === i"
                    class="pl-4 text-sm text-justify">{{ detail }}</p>
                </div>
            </li>
        </ul>
    </section>
</template>

<script>
import experiences from '@/data/experiences.json'

export default {
    name : 'experiences-section',
    data(){
        return {
            active : null,
            mouseIn : false
        }
    },
    methods : {
        /**
         * @param {Number} num - Give the id that will set on active data
         */
        changeActive(num){
            this.active = num
        },
        blurActive(){
            if(!this.mouseIn) this.active = null
        },
        onMouseChange(){
            this.mouseIn = !this.mouseIn
        }
    },
    setup(){
        return {experiences}
    }
}
</script>