<template>
    <section>
        <h6 class="font-medium text-purple text-xl">M Hasan Nasrullah</h6>
        <p class="text-justify text-sm mt-2">an undergradute student of Information Technology in Brawijaya University. I am interesting to learn about web technology and finding something new there. I also interesting on graphic design because I like about art. I like to try new experience to challenging myself to be better</p>
    </section>
</template>

<script>
export default {
    name : 'name-section'
}
</script>