<template>
    <section>
        <h6 class="font-medium text-purple text-xl">Skills</h6>
        <div class="mt-2 space-y-1">
            <div
            v-for="({name,percent}, i) in skills" 
            :key="i">
                <p class="font-medium">{{ name }}</p>
                <div class="relative flex items-center">
                    <progress :value="percent" max="100" class="w-full border border-black rounded-sm h-6" />
                    <div class="absolute right-1 flex items-center top-0 h-full">
                        <p class="text-sm">{{ percent }}%</p>
                    </div>
                </div>
            </div>  
        </div>
    </section>
</template>

<script>
import skills from '@/data/skills.json'

export default {
    name : 'skills-section',
    setup(){
        return {skills}
    }
}

</script>

<style scoped lang="postcss">

progress{
    @apply bg-trans
}

progress::-webkit-progress-value,::-moz-progress-bar{
    @apply bg-purple
}

</style>