<template>
  <div class="p-4 max-w-5xl mx-auto lg:py-12">
    <div class="bg-gray px-4 py-10 lg:px-10 rounded-lg">
      <h1 class="font-bold text-4xl text-purple">RESUME</h1>
      <div class="space-y-6 mt-6">
        <Name/>
        <Experinces/>
        <Skills/>
        <Contact/>
      </div>
    </div>
  </div>
</template>

<script>
import Name from '@/sections/Name.vue'
import Experinces from '@/sections/Experiences.vue'
import Skills from '@/sections/Skills.vue';
import Contact from '@/sections/Contact.vue';

export default{
  components : {
    Name,
    Experinces,
    Skills,
    Contact
  }
}
</script>